@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 20px;
  padding: 0;
  font-family: 'Indie Flower', cursive;
  background: #282c34;
  color: lavenderblush;
}

table {
  td {
    padding: 10px;
  }
}

.clear {
  display: table;
  clear: both;
  margin-right: calc(100% + 400px);
  content: "";
}

.game {
  max-width: 50vw;
  margin: 0 auto;
  padding: 20px;
  animation: fadein 1s;
  .game-info {
    font-size: calc(10px + (80 - 10) * ((100vw - 300px) / (4000 - 300)));
    margin-bottom: 20px;
    background: #19a0d9;
    padding: 7px;
    text-align: center;
    color: #fff;
    min-height: 100px;
    border-radius: 7px;
  }
  .game_status {
    padding: 20px;
  }
  .lost {
    background: #cb3b3b;
  }

  .won {
    background: #006400;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .cell {
    position: relative;
    padding: 0.9vw;
    font-size: calc(10px + (40 - 10) * ((100vw - 300px) / (1600 - 300)));
    background: #7b7b7b;
    border: 1px solid #282c34;
    height: 5vw;
    text-align: center;
    width: 5vw;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;

    &:focus {
      outline: none;
    }
  }

  .hidden {
    background: #c47b46;
    &:hover {
      background-color: #e6945a;
    }
  }

  .is-flag,
  .is-mine {
    color: #fc543c;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cursor_change {
  cursor: default;
  display: inline;
  padding: 20px;
}

.pause_text {
  margin-top: 10vh;
}

.game_controls {
  display: inline;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tile {
  background-color: #282c34;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 10px 5px rgb(17, 17, 17);
  height: auto;
  flex-basis: 25vw;
  margin: 0 5vw 2vw;
  padding: 10px;
  padding-bottom: 3%;
  transition: transform 0.5s, opacity 0.5s;
  img {
    width: 60%;
    height: auto;
  }
  &:hover {
    transform: scale(1.2);
    z-index: 1;
  }
  &:active {
    animation: magnify 2s infinite linear;
    opacity: 0;
  }
  button {
    background-color: transparent;
    border: none;
    outline: none;
  }
}

@keyframes magnify {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(5);
  }
}
