@media screen and (max-width: 600px) {
  body {
    margin: 20px;
    padding: 0;
    font-family: "Indie Flower", cursive;
    background: var(--bckgrnd-clr);
    color: lavenderblush;
  }

  .board {
    margin-top: 15%;
  }

  .game {
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px;
    --startOpacity: 0;
    --endOpacity: 1;
    animation: animateOpacity 1s;
    .game-info {
      font-size: large;
      margin-bottom: 20px;
      background: var(--game-info);
      padding: 7px;
      text-align: center;
      color: #fff;
      min-height: 100px;
      border-radius: 7px;
    }
    .game_status {
      padding: 5%;
    }
    .lost {
      background: var(--game-lost);
    }
    .won {
      background: var(--game-won);
    }
    .grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }
    .cell {
      position: relative;
      padding: 0.9vw;
      font-size: calc(10px + (40 - 10) * ((100vw - 300px) / (1600 - 300)));
      background: var(--cell-cleared-bckgrnd);
      border: 1px solid var(--bckgrnd-clr);
      height: 5vw;
      text-align: center;
      width: 5vw;
      cursor: pointer;
      border-radius: 2px;
      color: var(--cell-text);
      font-weight: 600;
      &:focus {
        outline: none;
      }
    }
    .hidden {
      background: var(--cell-bckgrnd);
      &:hover {
        background-color: var(--cell-hover);
      }
    }
    .is-flag,
    .is-mine {
      color: var(--wrong-flagged);
    }
  }

  .cursor_change {
    cursor: default;
    display: inline;
    padding: 2.5%;
  }

  .pause_text {
    margin-top: 10vh;
  }

  .game_controls {
    display: inline;
  }

  .fade-out {
    --startOpacity: 0;
    --endOpacity: 1;
    animation: animateOpacity 0.5s;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tile {
    min-width: 100px;
    max-height: 40vh;
    background-color: var(--bckgrnd-clr);
    border: 1px solid black;
    border-radius: 5px;
    height: auto;
    flex-basis: 25vw;
    margin: 0 5vw 2vw;
    padding: 10px;
    padding-bottom: 3%;
    transition: transform 0.5s, opacity 0.5s;
    transition-timing-function: ease-out;
    .level-desc {
      display: none;
      position: relative;
      bottom: -20%;
    }
    img {
      width: 55%;
      height: auto;
    }
    &:hover {
      transform: scale(1.01);
      box-shadow: 5px 10px 5px rgb(17, 17, 17);
      z-index: 1;
      @media screen and (min-width: 600px) {
        img {
          --startOpacity: 1;
          --endOpacity: 0.5;
          animation: animateOpacity 0.5s ease-out 1 forwards;
        }
        .level-desc {
          position: fixed;
          z-index: 2;
          display: block;
          left: 37%;
          animation: rollup 0.75s linear 1 forwards;
        }
      }
    }
    &:active {
      --startOpacity: 1;
      --endOpacity: 0;
      animation: magnify 2s linear, animateOpacity 2s linear;
      opacity: 0;
    }
  }

  .help-button {
    font-size: large;
    position: absolute;
    top: 25px;
    right: 20%;
  }
}
